.pageHeader {
  background-color: #fff;
  padding: 16px 32px 0;
  .detail {

  }
  .logo {

  }
  .main {
    .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
  .breadcrumb {
    margin-bottom: 16px;
  }
}
.title {

}
.action {

}
.content {
  margin-bottom: 16px;
}
.extraContent {

}